<div class="flex-1 flex items-center justify-center">
  <div>
    <h1 class="text-4xl font-bold">START SHORTENING LINKS</h1>
    <div class="bg-[#E0115F] rounded-xl p-4 text-xl">
      <%= link_to "Get Started", new_user_registration_path %>
    </div>
  </div>
</div>