<div class="flex-1 flex items-center justify-center">
  <div class="space-y-4">
    <h1 class="text-4xl font-bold">START SHORTENING LINKS</h1>
    <%= link_to "Get Started", new_user_registration_path, role: "button", class: "btn-primary btn text-white text-2xl w-full" %>
  </div>
</div>