<div id="<%= dom_id link %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Source:</strong>
    <%= link.source %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= link.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= link.user_id %>
  </p>

</div>
