<div class="flex-1 flex justify-center items-center">
  <%= form_with model: @link, class: "space-y-4" do |form| %>
    <div>
      <%= form.label :source %><br>
      <%= form.text_field :source, class: "input input-bordered" %>
    </div>

    <div>
      <%= form.submit nil, class: "btn w-full btn-primary text-white btn-sm" %>
    </div>
  <% end %>
</div>